body{
    margin:0;
    padding:0;
    background-color: white;
    main{
        position: relative;
        
        
        .t1{
            width: 50%;
            img{
                width: 15%;

            }
            p{
                display: flex;
                align-items: center;
                width: 90%;
                font-size: 1vw;
                z-index: 1;
                
            }
        }
        .t2{
            background-image: url("../img/Group10.png");
            background-size: 180% 120%;
            background-position: bottom left;
            border: 2px dashed red;
            position: absolute;
            width: 50vw;
            height: 75vw;
            right: 0;
            top:0;
        }
    }
    
    .group{
        background-image: url("../img/Group 65.png");
            background-size: 180%;
            background-position: right;
            border: 2px dashed red;
            position: absolute;
            width: 50vw;
            height: 115.9vw;
            left: 0;
            top: 60vw;
            
    }
    .group1{
        background-image: url("../img/Group 66.png");
            background-size: 150%;
            background-position: left;
            border: 2px dashed red;
            position: absolute;
            width: 50vw;
            height: 83.5vw;
            right: 0;
            top: 180vw;
    }
    .group2{
        background-image: url("../img/Group 67.png");
            background-size: 150%;
            background-position: right;
            border: 2px dashed red;
            position: absolute;
            width: 50vw;
            height: 74.8vw;
            left: 0;
            top: 270vw;
    }
    .group3{
        background-image: url("../img/Group 63.png");
            background-size: 150%;
            background-position: left;
            border: 2px dashed red;
            position: absolute;
            width: 50vw;
            height: 83.5vw;
            right: 0;
            top: 345vw;
    }
    .group4{
        background-image: url("../img/Group 61.png");
            background-size: 150%;
            background-position: right;
            border: 2px dashed red;
            position: absolute;
            width: 50vw;
            height: 74.8vw;
            left: 0;
            top: 429vw;
    }
    .group5{
        background-image: url("../img/Group 53.png");
            background-size: 150%;
            background-position: left;
            border: 2px dashed red;
            position: absolute;
            width: 50vw;
            height: 83.5vw;
            right: 0;
            top: 504vw;
    }
    .group6{
        background-image: url("../img/Group 64.png");
            background-size: 150%;
            background-position: right;
            border: 2px dashed red;
            position: absolute;
            width: 50vw;
            height: 74.8vw;
            left: 0;
            top: 500vw;
    }
    
}